<footer class="bg-dark text-light mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6">
                <h5>DigiShelf</h5>
                <p>Your digital bookshelf for modern readers</p>
            </div>
            <div class="col-md-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-light">Home</a></li>
                    <li><a href="{% url 'privacy' %}" class="text-light">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact</h5>
                <p>Email: contact@digishelf.com</p>
            </div>
        </div>
        <div class="text-center pt-3 border-top">
            <small>© 2024 DigiShelf. All rights reserved.</small>
        </div>
    </div>
</footer>